{
  "extends": ["eslint:recommended", "plugin:@hapi/recommended"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "browser": false,
    "node": true
  },
  "rules": {
    "strict": [0],
    "no-cond-assign": [0],
    "no-console": [0],
    "hapi/hapi-scope-start": [0],
    "no-shadow": [0],
    "no-trailing-spaces": [0]
  }
}
